*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .bg-color{
    background-color: #E9FCE9;
  }
  .navbar{
    position:static;
    background-color: #0F3325;
  }
  .nav-link{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  
  }
  .nav-link:hover{
    color: black;
    background-color: white;
  }
  .navbar-brand{
  
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Main Section*/
  .main{
    background: url(mani.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
    
  }
  .main h3{
    font-size: 4.4rem;
    font-weight: 700;
    color: black;
    
  }
  .main h4{
    font-size: 2.4rem;
    font-weight: 700;
    color: black;
  }
  .main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(170, 225, 230);
    width: 30%;
    color: black;
  }
  .main .bt1{
    height: 55px;
    width: 138px;
    background-color: #0F3325;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
  }
  .main .bt1:hover{
    height: 55px;
    width: 138px;
    background-color:black ;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  
  .about img{
    -webkit-box-shadow: 26px -15px 43px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 26px -15px 43px -15px rgba(0,0,0,0.75);
  box-shadow: 26px -15px 43px -15px rgba(0,0,0,0.75);
  }
  h1{
    font-size: 3rem;
    font-weight: 900;
    color: #0F3325;
  }
  
  .popup{
    width: 500px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
  
  }
  .popup h5{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }
  .popup p{
    text-align: justify;
  }
  .popup button{
    width: 100%;
    margin-top: 50px;
    padding:  10px 0;
    background: #0F3325;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  }
  /*                                   Progress Bar CSS            */
  .progress{
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
  }
  .pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
  }
  .pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
  }
  .pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
  }
  .progress p{
    color: white;
  
  }
  @keyframes load1{
    0%{
      width: 0;
    }
    100%{
      width: 98%;
    }
  }
  
  @keyframes load2{
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes load3{
    0%{
      width: 0;
    }
    100%{
      width: 55%;
    }
  }
  /* ------------------------------------------------------------------ */
  .btn1{
    position: relative;
    height: 40px;
    width: 395px;
    outline: none;
    border: none;
    background-color: #0F3325;
    color: white;
    border-radius: 4px;
  }
  .btn1:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
  }
  a{
    width: 6rem;
    height: fit-content;
    text-decoration: none;
    color: white;
  }
  
  /* ---------------------------- Contact Us --------------------*/
  .contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(contact.png);
    background-size: cover;
    
  }
  .contact .content h1{
  color: #0F3325;
  }
  
  .container1{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
  
  }
  .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 400;
    color: #0F3325;

  }
  .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
  }
  .contactForm{
    background: #fff;
  }
  .contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }
  .contactInfo .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
   
    resize: none;
  }
  .contactForm .inputBox input[type="submit"]{
    width: 100%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  .contactForm .inputBox input[type="submit"]:hover{
    width: 100%;
    background: black;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  .work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
  }
  
  .work__img img {
    transition: 1s;
  }
  .work__img img:hover {
    transform: scale(1.1);
  }